*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background: white;
}

@media print {
  body {-webkit-print-color-adjust: exact;}
}

.B2B {
  width: 100%;
  display: flex;
  flex-direction: column;
  .map {
    height: 100vh;
    width: 100%;
    overflow: scroll;
  }
  .flashcard-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    .flashcard {
      margin: 10px;
      height: 300px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .flashcard-photo {
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 50%;
        min-width: 300px;
        border-radius: 10px;
      }
      .flashcard-description {
        width: 300px;
        text-align: center;
      }
    }

  }
  .header-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    background-image: url('../../images/bangkoktobali/cover.jpg');
    background-position: center;
    background-size: cover;
    h1 {
      color: white;
      width: 100%;
      font-size: 70px;
      margin: 10px;
      text-transform: uppercase;
    }
    h2 {
      color: white;
      width: 50%;
      text-align: right;
      align-self: flex-end;
    }
  }
  .header-container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    border-top: 1px dotted black;
    padding-top: 20px;
    h1 {
      margin: 10px;
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
    }
    h2 {
      text-align: center;
      font-size: 16px;
    }
  }
  .itinerary {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .itinerary-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
  }
  .itinerary-description {
    float: right;
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.packingList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

